* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* background-color: lightcoral; */
  width: 100vw;
  height: 100vh;
  display: flex;
}

.container .left {
  width: 60%;
  /* background-color: lightblue; */
  background-image: url("https://images.unsplash.com/photo-1606021643583-b707947f1f02?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80");
  background-position: center;
  background-repeat: no-repeat;
}

.left .title {
  font-size: 50px;
  color: darkslategray;
  padding: 100px;
}

.form-container {
  border: 1px solid lightgrey;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 7px 2px #d3d3d3d4;
  width: 295px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container .input-group {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

input {
  outline: none;
  border: none;
  border-bottom: 1px solid lightgray;
}

.container .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.submit {
  outline: none;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  background-color: blue;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
}

.submit:hover {
  background-color: white;
  color: blue;
}
